body {
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  background-image: linear-gradient(to right, #aac2e6, #84cee5, #7ed6c9, #a6d7a0, #dece84);
}
h1{
  font-weight: bolder;
}
p{
  font-size: 1.5em;
  font-weight: bold;
}